<div class="mainContainer">

  <app-nav-bar></app-nav-bar>

  <div class="container">
    
    <div class="row">
      <h1 class="col-sm-12 text-decoration-underline menuTitle">ANGULAR CHALLENGE</h1>
      <div class="col-sm-6">
        <button class="btn btn-outline-primary" routerLink="/form">Formulario</button>
        <button class="btn btn-outline-primary" routerLink="/table">Tabla</button>
        <button class="btn btn-outline-primary" routerLink="/checkboxes">Checkboxes</button>
      </div>
    </div>
  </div>
</div>