<div class="closed-navBar" id="navBar">
    <i (click)="openNavBar()">
        <img class="arrowElement" id="arrowElement" src='../../../assets/icons/rightArrow.png' alt="arrow">
    </i>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">

            <div>
                <img class="profileClass" id="profile" src="../../../assets/profile.JPEG" alt="" hidden="true" />
            </div>
            <div class="mt-3 ml-1">
                <p class="profileName" id="profileName" hidden="true">Matias Filliez</p>
                <p class="profileName" id="profileName2" hidden="true">Fron-End Developer</p>
                <a id="profileName3" href="https://www.linkedin.com/in/matias-filliez-fullstackdeveloper/"
                    style="text-decoration: none!important; color: black;" hidden="true">
                    <p class="profileName">Linkedin</p>
                </a>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>